body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    width: 800px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.roomname {
    font-size: 10px;
}

image {
    width: 15;
    height: 15;
}

#canvas {
    overflow-x: hidden;
}

#sidebar {
    width: 200px;
    left: 10px;
    top: 10px;
    position: absolute;
}

.message-box{
    fill: lightblue;
    stroke: blue;
    stroke-width: 1px;
}

.icon {
    font-family: FontAwesome;
}

.text {
    fill: black;
}

.add, .remove{
    cursor: pointer;
}

input.newroom {
    width: 100px;
    height: 15px;
    margin-top: 75px;
    display: inline;
}

button.newroom {
    display: inline;
}

/*.message {
    stroke: lightblue;
    stroke-width: 1px;
    fill: transparent;
    width: 500;
    height: 22;
}
*/
